*, *::before, *::after{ box-sizing: border-box; }
h1{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    background-color: #111111;
    padding: 32px 32px 32px 32px;
}
h2{
    color: #111111;
    text-align: center;
    background-color: #f1f1f1;
    padding: 55px 55px 34px 55px;
    margin: 64px 60px 0px 60px;
    

}
figure{
    text-align: center;
    background-color: #f1f1f1;
    padding: 0px 60px 64px 60px;
    margin: 0px 60px 0px 60px;
}
p{
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    background-color: #111111;
    padding: 32px 32px 32px 32px;
    margin-top: 64px;
}